:root {
	--menu-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3e%3cpath fill='%23333333' d='M3 18v-2h18v2zm0-5v-2h18v2zm0-5V6h18v2z'/%3e%3c/svg%3e");
}
.icon {
    --size: 22px;
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: center;
    width: var(--size);
    height: var(--size);
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background: currentColor;
    vertical-align: middle;
    transition: var(--g-trans);
}
.menu-icon{ mask-image: var(--menu-icon) }
